<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Manually add song</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <mdb-form-control>
    <input mdbInput type="text" id="formInputSongName" class="form-control" />
    <label mdbLabel class="form-label" for="formInputSongName">Song name</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formInputSongName" class="form-control" />
    <label mdbLabel class="form-label" for="formInputSongName"
      >Artist name</label
    >
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formInputSongName" class="form-control" />
    <label mdbLabel class="form-label" for="formInputSongName">Duration</label>
  </mdb-form-control>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary">Delete entry</button>
</div>
