<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Manually add song</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<form (ngSubmit)="addSongEntry()">
  <div class="modal-body">
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="song.name"
        name="name"
      />
      <label mdbLabel class="form-label" for="name">Song name</label>
    </mdb-form-control>
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        id="artist"
        class="form-control"
        [(ngModel)]="song.artist"
        name="artist"
      />
      <label mdbLabel class="form-label" for="artist">Artist name</label>
    </mdb-form-control>
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        id="duration"
        class="form-control"
        [(ngModel)]="song.duration"
        name="duration"
      />
      <label mdbLabel class="form-label" for="duration">Duration</label>
    </mdb-form-control>
    <mdb-form-control>
      <input
        mdbInput
        type="url"
        id="coverArl"
        class="form-control"
        [(ngModel)]="song.coverArt"
        name="coverArt"
      />
      <label mdbLabel class="form-label" for="coverArt">Cover URL</label>
    </mdb-form-control>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="submit" class="btn btn-primary" (click)="modalRef.close()">
      Add entry
    </button>
  </div>
</form>
