<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">ShazzBoard</a>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary"> Sign up </a>
          <a class="button is-light"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngFor="let song of songs" class="card mb-3" style="max-width: 20%">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ song.coverArt }}" class="img-fluid rounded-start" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">{{ song.name }}</p>
        <p class="card-text">{{ song.artist }}</p>
        <p class="card-text">
          <small class="text-muted">{{ song.duration }}</small>
        </p>
        <a href="#" class="btn btn-primary">Show more</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
