:host {
  --card-width: 32em;
  --card-height: 8em;
  --card-padding: 0.1em;
}

.song-container {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}

.song-card {
  width: var(--card-width);
  border: 0.1em solid rgba(0, 0, 0, 2);
  border-radius: 0.2em;
  display: flex;
  flex-direction: row;
}

.song-card:hover {
  background-color: gainsboro;
}

.song-card-image-container {
  padding: var(--card-padding);
  width: calc(25% - 2 * var(--card-padding));
}

.song-card-image {
  aspect-ratio: 1 / 1;
}

.song-description-container {
  width: calc(75% - 2 * 0.1em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--card-padding);
}

.dummy-card {
  height: 0;
  width: var(--card-width);
}

.song-title,
.song-artist,
.song-duration {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
