<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">ShazzBoard</a>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" (click)="openManualAddSongModal()">
        Add song (manual)
      </a>
    </div>
    <div class="navbar-end">
      <div class="buttons">
        <a class="button is-primary"> Sign up </a>
        <a class="button is-light"> Log in </a>
      </div>
    </div>
  </div>
</nav>

<div class="song-container">
  <div
    *ngFor="let song of songs"
    class="song-card"
    (click)="openSongInfoModal(song)"
  >
    <div class="song-card-image-container">
      <img class="song-card-image" src="{{ song.coverArt }}" />
    </div>
    <div class="song-description-container">
      <div class="song-title">{{ song.name }}</div>
      <div class="song-artist">{{ song.artist }}</div>
      <div class="song-duration">
        <small class="text-muted">{{ song.duration }}</small>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
