<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'open'" (click)="close()">
    <div (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">X</button>
      <div class="modal-body">
        <p><strong>Name</strong>: {{ songName }}</p>
        <p><strong>Artist</strong>: {{ songArtist }}</p>
        <p><strong>Duration</strong>: {{ songDuration }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteSongEntry(songId); close()"
        >
          Delete entry
        </button>
      </div>
    </div>
  </section>
</ng-container>
